[submodule "simulation"]
	path = docker_volume/simulation
	url = https://github.com/TWeber132/thesis-simulation.git
[submodule "client"]
	path = docker_volume/client
	url = https://github.com/TWeber132/thesis-inference-server-client.git
[submodule "dataset"]
	path = docker_volume/dataset
	url = https://github.com/TWeber132/thesis-dataset.git
